# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Large/special assets (add any big files here if GitHub complains)
# Example:
# Content/SomeFolder/HugeAsset.uasset

# User/editor/temp stuff
*.suo
*.user
*.userprefs
*.log
*.vs/
*.pdb
*.opensdf
*.sdf
*.VC.db
.vscode/
.idea/
.DS_Store
